<table class='table table-hover table-inverse'>
  <thead>
    <tr>

      <th></th>
      <th>投稿日</th>
      <th>タイトル <th>
      <th></th>
      <th colspan="2"></th>
     </tr>
  </thead>
  <tbody>
    <% liquor.each do |bar| %>
    <tr>
      <td><%= link_to(bar.user) do %>
          <%= image_tag bar.user.get_profile_image, size:'50x50' %>
          <% end %>
      </td>
      <td><%= render "public/comments/counter", bars: bars %></td>
        <td><%= link_to "show", bars, class: "btn btn-success",data: {"turbolinks"=>false}   %></td>
   　 </tr>
   <% end %>
　</tbody>
</table>